body {
    font-family: Arial, sans-serif; /* Cambié 'blackkader' a una fuente estándar */
    margin: 40px;
    line-height: 1.2;
}

h1 {
    color: rgba(31, 19, 203, 0.556);
}

h3 {
    color: rgb(43, 43, 226);
}

ul {
    list-style-type: disc;
    padding-left: 80px;
}

nav {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 16px;
}
